* {
   margin: 0;
   padding: 0;
   list-style: none;
   text-decoration: none;
   box-sizing: border-box;
}

header {
   height: 100px;
   background-color: white;
}

header ul {
   display: inline-block;
   vertical-align: top;
   margin-left: 200px;
}

.container {
   width: 900px;
   height: 50px;
   margin: 0 auto;
}

span {
   display: inline-block;
   vertical-align: auto;
   margin: auto;
   margin-top: 15px;
   margin-left: 10px;
}


header ul li {
   display: inline-block;
   line-height: 50px;
   margin-left: 50px;
   margin-top: 15px;
}

section#first {
   background-image: url("./file60145.jpeg");
   height: 500px;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

#text {
   text-align: center;
   padding-top: 200px;
}

#text h1 {
   color: white;
   font-size: 45px;
}

#text h6 {
   color: white;
   font-size: 18px;
}

#sea {
   color: white;
   background-color: rgba(137, 43, 226, 0.952);
   height: 30px;
   width: 100px;
   margin-top: 25px;
   border: 1px white;
}

#more {
   color: white;
   height: 30px;
   width: 100px;
   background-color: rgba(5, 5, 29, 0);
   border: 1px solid white;
   margin-top: 25px;
}

section#online {
   height: 320px;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: right;
   background-color: rgba(0, 128, 0, 0.582);
}

section#online .container div{
   display: inline-block;
   width: 49%;
   padding-left: 20px;
}

#every img{
   width: 100%;
}

#open {
   height: 30px;
   width: 100px;
   color: white;
   background-color: blueviolet;
   border: 1px white;
}

section#game{
   height: 320px;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: left;
   background-color: burlywood;
}

section#game .container div {
   display: inline-block;
   width: 49%;
   padding-right: 20px;
   padding-left: 50px;
}
#com img {
   width: 100%;
   margin-top: 50px;
}